div {
    padding: 10px 50px 10px;
}

div.container {
    padding: 0;
}

div.result-container {
    padding: 0;
    display: flex;
}

div.sidenav {
    font-weight: bold;
    font-size: .8rem;
}

div.welcome {
    background-color: #002e5f;
}

div.res-table {
    margin: 10px;
}

div.footer {
    background-color: lightgray;
}

body {
    margin: 0;
}

h2, h3 {
    font-weight: bold;
    padding: 0;
}

h2.title {
    color: white;
}

h3#register {
    margin: 0 0 5px;
}

h3.sub-title {
    color: white;
}

p {
    margin: 2px;
    font-weight: bold;
}

p.foot {
    font-size: 10px;
    margin: 2px;
}

a {
    text-decoration: none;
    color: darkblue;
}

input, button {
    width : 150px;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    text-align: center;
    padding: 10px;
}
